.h5{
    font-size: 4rem;
    color: rgb(21, 5, 242);
}
.heading{
    color:white ;
    text-align: center;
}

.h1wrapper{
    background-color: #0d6efd;
}

.sb1,.sb2{
    
 margin-top: 0.3rem;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
 padding-bottom: 10px;

}